<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/navbar.ejs") %>
      <main>
        <div class="container">
          <% for (event of events) { %>
            <div class="event-card">
                <a href="/events/<%= event._id %>">
                  <h2>
                    <%= event.name %>
                  </h2>
                </a>
            </div>
          <% } %>
        </div>
      </main>
  </body>

</html>