<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sign Me Up!</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/events">Home</a></li>
      <% if (session.loggedIn) { %>
        <li><a href="/events/new"><button>New Event</button></a></li>
      <% } %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <% if (session.loggedIn) { %>
      <li><a href=""><span class="glyphicon glyphicon-user"></span> <%= session.username %></a></li>
      <li><a href="/user/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    <% } else { %>
      <li><a href="/user/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    <% } %>
    </ul>
  </div>
</nav>